@using Sitecore.Globalization
@using Sitecore.Links
@using Sitecore.Mvc
<div id="InnerCenter">
	<div id="Header">
	    <img src="/~/media/Default Website/sc_logo.ashx" alt="Sitecore" id="scLogo" />
	</div>
    <div id="Content">

        <div>
            <p>
                <a href="/">Home</a>

                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                @using (new LanguageSwitcher("en"))
                {
                    <a href="@LinkManager.GetItemUrl(Sitecore.Context.Item)">English</a>
                }

                |
                
                @using (new LanguageSwitcher("de"))
                {
                    <a href="@LinkManager.GetItemUrl(Sitecore.Context.Item)">Deutsch</a>
                }
            </p>
        </div>

        <div id="LeftContent">
            @Html.Sitecore().Placeholder("content")
        </div>
    </div>
	<div id="Footer"><hr class="divider"/>&#169; 2014 Sitecore</div>
</div>	