@using Sitecore.Globalization
@model SUGCH2015.Website.Models.DisplayNameViewModel
           
@using (Html.BeginForm())
{
    <div class="row">
        @Html.LabelFor(m => m.PropertyName)
        @Html.EditorFor(m => m.PropertyName)
        @Html.ValidationMessageFor(m => m.PropertyName)
    </div>
    
    <div class="row">
        <input type="submit" />
    </div>
}
