@model SUGCH2015.Website.Models.UltimateViewModel
           
@using (Html.BeginForm())
{
    <div class="row">
        @Html.LabelFor(m => m.MetadataProviderPropertyName)
        @Html.EditorFor(m => m.MetadataProviderPropertyName)
        @Html.ValidationMessageFor(m => m.MetadataProviderPropertyName)
    </div>

    <div class="row">
        <input type="submit" />
    </div>
}
