<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    
    <settings>
      <setting name="SerializationFolder" set:value="D:\Sitecore\Demos\SUGCH2015\serialization" />
    </settings>

    <sites>
      <site name="website" set:database="master" />
    </sites>

    <linkManager defaultProvider="sitecore">
      <providers>
        <add name="sitecore" set:languageEmbedding="always" set:addAspxExtension="false" />
      </providers>
    </linkManager>

    <pipelines>
      <httpRequestBegin>
        <processor patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.LanguageResolver, Sitecore.Kernel']"
                   type="SUGCH2015.Website.Pipelines.HttpRequest.CultureResolver, SUGCH2015.Website" />
      </httpRequestBegin>

      <initialize>
        <processor type="SUGCH2015.Website.Pipelines.Initialize.AddModelBinder, SUGCH2015.Website" />
        <processor type="SUGCH2015.Website.Pipelines.Initialize.AddMetadataProvider, SUGCH2015.Website" />
      </initialize>
    </pipelines>
    
  </sitecore>
</configuration>