<configuration xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    
    <settings>
      <setting name="SerializationFolder" set:value="D:\Sitecore\Demos\SUGCH2015\serialization" />
    </settings>

    <sites>
      <site name="website" set:database="master" />
    </sites>

    <linkManager defaultProvider="sitecore">
      <providers>
        <add name="sitecore" set:languageEmbedding="always" set:addAspxExtension="false" />
      </providers>
    </linkManager>
    
  </sitecore>
</configuration>